<!DOCTYPE html>
<!-- Website Template Created By: Jose Avendano
Course Title: CIS197HTML
Term: Spring -->
<html lang="en">
<head>
    <title>NBA News</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/reset.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div id="container">

    <!-- Header for website name or logo -->
    <header>
        <h1>NBA News</h1>
        <br>
        <img src="images/Logo.png" alt="NBA logo" height="100" width="90">
    </header>

    <!-- Basketball image -->
    <div id="Basketball">
        <img src="images/Basketball.png" alt="basketball going in a hoop" width="100%" height="600">
    </div>

     <!-- Use nav to add hyperlinks to other pages within the website -->
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="regular.html">Regular Season</a></li>
            <li><a href="playoffs.html">Playoffs</a></li>
            <li><a href="sign.html">Sign up</a></li>
        </u>
    </nav>

    <!-- Main is to add content of the website -->
    <main>

        <div id="intro">

        <br>
        <h3>Welcome to the NBA news website. Here we will update you to the latest NBA news. Check out the recent updates in the playoffs section.</h3>
        <br>
        <p>News: Carmelo Anthony has announced his retirement after 19 seasons in the NBA.</p>
        <br>
        <p>News: Miami takes the win at Denver.</p>
        <br>
        <p>News: Nuggets eliminate the Lakers.</p>
        <br>
        <p>News: Heat vs Nuggets game 3 (Wednesday @ 5:30pm)</p>
    
        </div>

    </main>

    <!-- Footer is for footer content -->
    <footer>
        <br>
        <br>
        <p>&copy; Copyright 2023. All Rights Reserved.</p>
        <br>
        <p><a href="mailto:Nbanews@associates.com">Nbanews@associates.com</a></p>
    </footer>

    </div>

</body>
</html>