<!DOCTYPE html>
<html lang="en">
<head>
    <title>NBA Playoffs News</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body>

    <div id="container">

    <!-- Logo or name for website -->
    <header>
        <h1>NBA Playoffs News</h1>
        <br>
        <img src="images/Logo.png" alt="NBA logo" height="100" width="90">
    </header>

        <!-- Add main content -->
        <main>
            <div id="intro">
                <br>
                <p>On this page we talk about the NBA playoffs. Here are the recent news.</p>
                <br>
                <p>News: Tylor Hero will miss the rest of the regular postseason due to hand injury.</p>
                <br>
                <p>News: The Celtics force a game 7.</p>
                <br>
                <p>News: Celtics could become the first team in NBA history to come back after being down 3-0 in their next win.</p>
                <br>
            </div>
        </main>

    <div id="Playoffs">
        <img src="images/Playoffs.png" alt="Playoff standings" height="600" width="1200">
    </div>

    <!-- Nav is for hyperlinks -->
    <nav>
        <ul>
            <li><a href="template.html">Home</a></li>
            <li><a href="regular.html">Regular Season</a></li>
            <li><a href="playoffs.html">Playoffs</a></li>
            <li><a href="sign.html">Sign up</a></li>
        </u>
    </nav>

    <!-- Footer for webpage content -->
    <footer>
        <br>
        <br>
        <p>&copy; Copyright 2023. All Rights Reserved.</p>
        <br>
        <p><a href="mailto:Nbanews@associates.com">Nbanews@associates.com</a></p>
    </footer>

    </div>

</body>
</html>