<!DOCTYPE html>
<html lang="en">
<head>
    <title>NBA Playoffs News</title>
    <meta charset="utf-8">
</head>
<body>

    <div id="container">

    <!-- Logo or name for website -->
    <header>
        <h1>NBA Playoffs News</h1>
        <img src="images/Logo.png" alt="NBA logo" height="100" width="90">
    </header>

    <div id="Playoffs">
        <img src="images/Playoffs.png" alt="Playoff standings" height="600" width="900">
    </div>

    <!-- Nav is for hyperlinks -->
    <nav>
        <ul>
            <li><a href="template.html">Home</a></li>
            <li><a href="regular.html">Regular Season</a></li>
            <li><a href="playoffs.html">Playoffs</a></li>
            <li><a href="sign.html">Sign up</a></li>
        </u>
    </nav>

    <!-- Add main content -->
    <main>
        <div id="intro">
            <p>On this page we talk about the NBA playoffs. Here are the recent news.</p>
        </div>
    </main>

    <!-- Footer for webpage content -->
    <footer>
        <p>&copy; Copyright 2023. All Rights Reserved.</p>
        <p><a href="mailto:Nbanews@associates.com">Nbanews@associates.com</a></p>
    </footer>

    </div>

</body>
</html>