<!DOCTYPE html>
<html lang="en">
<head>
    <title>Regular Season Record</title>
    <meta charset="utf-8">
</head>
<body>

    <div id="container">

    <header>
        <h1>NBA Regular Season News</h1>
        <img src="images/Logo.png" alt="NBA logo" height="100" width="90">
    </header>

    <!-- Season Record -->
    <div id="East Season">
        <img src="images/East Season.png" alt="East regular season record" width="300" width="500">
    </div>

    <div id="West Season">
        <img src="images/West Season.png" alt="West regular season record" width="300" width="500">
    </div>

    <nav>
        <ul>
            <li><a href="template.html">Home</a></li>
            <li><a href="regular.html">Regular Season</a></li>
            <li><a href="playoffs.html">Playoffs</a></li>
            <li><a href="sign.html">Sign up</a></li>
        </u>
    </nav>

    <main>
        <div id="intro">
            <p>Welcome to the Regular Season news of the NBA. Here we talk about the most recent news of the NBA regula season. We even show the most recent record for each team.</p>
        </div>
    </main>

    <footer>
        <p>&copy; Copyright 2023. All Rights Reserved.</p>
        <p><a href="mailto:Nbanews@associates.com">Nbanews@associates.com</a></p>
    </footer>

    </div>

</body>
</html>
