<!DOCTYPE html>
<html lang="en">
<head>
    <title>Regular Season Record</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body>

    <div id="container">

    <header>
        <h1>NBA Regular Season News</h1>
        <br>
        <img src="images/Logo.png" alt="NBA logo" height="100" width="90">
    </header>

    <main>
        <div id="intro">
            <br>
            <p>Welcome to the Regular Season news of the NBA. Here we talk about the most recent news of the NBA regula season. We even show the most recent record for each team.</p>
            <br>
        </div>
    </main>

    <!-- Season Record -->
    <div id="East">
        <img src="images/East Season.png" alt="East regular season record" height="700" width="1300">
    </div>

    <br>
    <p>The number one seed in the east this year were the Milwaukee Buck followed by Boston and Philadelphia. Detroit had the worst record in the NBA this season with only 17 wins and 65 defeats.</p>
    <br>

    <div id="West">
        <img src="images/West Season.png" alt="West regular season record" height="700" width="1300">
    </div>

    <br>
    <p>The number one seed in the west this year were the Denver Nuggets followed by Memphis and Sacramento. San Antonio had to worst record in the west this NBA season with 22 wins and 60 defeats.</p>
    <br>
    <p>There are no current news for this regular season. Please click on the Playoffs for recent news.</p>
    <br>

    <nav>
        <ul>
            <li><a href="template.html">Home</a></li>
            <li><a href="regular.html">Regular Season</a></li>
            <li><a href="playoffs.html">Playoffs</a></li>
            <li><a href="sign.html">Sign up</a></li>
        </u>
    </nav>

    <footer>
        <br>
        <br>
        <p>&copy; Copyright 2023. All Rights Reserved.</p>
        <br>
        <p><a href="mailto:Nbanews@associates.com">Nbanews@associates.com</a></p>
    </footer>

    </div>

</body>
</html>
