<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up</title>
    <meta charset="utf-8">
</head>
<body>

    <div id="container">

    <header>
        <h1>Sign up</h1>
        <img src="images/Logo.png" alt="NBA logo" height="100" width="90">
    </header>

    <nav>
        <ul>
            <li><a href="template.html">Home</a></li>
            <li><a href="regular.html">Regular Season</a></li>
            <li><a href="playoffs.html">Playoffs</a></li>
            <li><a href="sign.html">Sign up</a></li>
        </u>
    </nav>

    <main>
        <div id="intro">
            <p>Thank you for visiting this page. If you'd like you can sign up here to get the latest news first.</p>
        </div>
    </main>

    <footer>
        <p>&copy; Copyright 2023. All Rights Reserved.</p>
        <p><a href="mailto:Nbanews@associates.com">Nbanews@associates.com</a></p>
    </footer>

    </div>

</body>
</html>
