<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body>

    <div id="container">

    <header>
        <h1>Sign up</h1>
        <br>
        <img src="images/Logo.png" alt="NBA logo" height="100" width="90">
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="regular.html">Regular Season</a></li>
            <li><a href="playoffs.html">Playoffs</a></li>
            <li><a href="sign.html">Sign up</a></li>
        </u>
    </nav>

    <main>
        <div id="intro">
            <p>Thank you for visiting this page. If you'd like you can sign up here to get the latest news first.</p>
        </div>
    </main>

    <div id="form">

        <h2>Complete the following steps to recieve latest news.</h2>

        <form><!-- Start Form -->

            <fieldset>
                <legend>Information</legend>
                <label for="fName">First Name:</label>
                <input type="text" id="fName" name="fName" required>

                <label for="lName">Last Name:</label>
                <input type="text" id="lName" id="lName" required>

                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>

                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone" required>
            </fieldset>

            <fieldset>
                <legend>Additional Information</legend>
                <p>What alerts would you like to recieve?:</p>

                <label for="regsea"><input type="checkbox" name="interest" id="regsea" value="Regular Season">Regular Season</label>

                <label for="ploff"><input type="checkbox" name="interest" id="ploff" value="Playoffs">Playoffs</label>

                <label for="gmsco"><input type="checkbox" name="interest" id="gmsco" value="Game Score">Game Score</label>

                <label for="alt"><input type="checkbox" name="interest" id="alt" value="Everyday Alerts">Everyday Alerts</label>

                <label for="aobv"><input type="checkbox" name="interest" id="aobv" value="All the Above">All the Above</label>
            </fieldset>

            <input type="submit" id="submit" value="Submit" class="btn">

        </form>

    </div>

    <footer>
        <br>
        <br>
        <p>&copy; Copyright 2023. All Rights Reserved.</p>
        <br>
        <p><a href="mailto:Nbanews@associates.com">Nbanews@associates.com</a></p>
    </footer>

    </div>

</body>
</html>
