<!DOCTYPE html>
<!-- Website Template Created By: Jose Avendano
Course Title: CIS197HTML
Term: Spring -->
<html lang="en">
<head>
    <title>NBA News</title>
    <meta charset="utf-8">
</head>
<body>

    <!-- Header for website name or logo -->
    <header>
        <h1>NBA News</h1>
    </header>

    <!-- Use nav to add hyperlinks to other pages within the website -->
    <nav>
        <p>Home &nbsp; &#9475; &nbsp;
        Regular Season &nbsp; &#9475; &nbsp;
        Playoffs &nbsp; &#9475; &nbsp;
        Sign up &nbsp; &#9475; &nbsp;
        </p>
    </nav>

    <!-- Main is to add content of the website -->
    <main>
    </main>

    <!-- Footer is for footer content -->
    <footer>
        <p>&copy; Copyright 2023. All Rights Reserved.</p>
        <p>Nbanews@associates.com</p>
    </footer>

</body>
</html>