body {
    background-color: black;
}

h1 {
    color: white;
}

header {
    width: 25%;
    float: left;
}
nav {
    margin: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.75em;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

main {
    clear: left;
    color: white;
    padding: 2%;
    font-size: 1.25em;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: white;
    padding: 0.1em;
}

footer p a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: black;
    background-color: white;
}