body {
    background-color: #BABABA;
}

nav {
    width: 70%;
    float: center;
    margin: 5em 3em 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li a {
    text-align: center;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: #000;
    background-color: #fff;
}

nav li {
    display:  inline-block;
    font-size: 1.75em;
}

#form {
    margin-top: 2%;
    background-color: #f2f2f2;
    padding: 2%;
}

#form h2 {
    text-align: center;
}

fieldset, input, select, textarea {
    margin: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

footer {
    text-align: center;
}

/* Style rule for mobile viewport */
nav {
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;
}

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px) {
/*Tablet Viewport: Style rules */
header {
    position: station;
    padding-bottom: 2%;
}

nav li {
    border-top: none;
    display: inline-block;
    border-right: 1px solid #fff;
}

nav li:last-child {
    border-right: none;
}

nav li a {
    padding: 0.1em 0.75em;
}

main {
    clear: left;
}
}